@media (max-width:46.1875em){


    .mobile-ptb-16{
        padding: 16px 0!important;
    }

    .mobile-mb-8{
        margin-bottom: 8px;
    }

    #header .search-btn{
        display: none;
    }
    
    #header{
        overflow: hidden;   
    }

    #header .nav{
        display: block;
    }

    .nav>li{
        display: block;
    }

    .sub-nav li a{
        padding: 5px 30px;
    }

    .nav .sub-nav{
        position: initial;
        background-color: #333;
    }

    .sub-nav li a{
        color: #fff;
    }

    .nav>li:first-child{
        display: inline-block;
    }

    .nav-bar-mobile{
        float: right;
        display: block; 
        position: absolute;
        top: 0;
        right: 0;
    }

    .nav-bar-mobile .icon-bar{
        color: #fff;
        line-height: 46px;
        padding: 0 20px;
    }
    .nav-bar-mobile .icon-bar:hover{
        background-color: #ccc;
        color: #000;
    }

    .text-content {
        display: none;
    }

    .member-img{
        width: 60%;
    }

    .item-center-mobile{
        width: 100%;
        margin-bottom: 12px;
    }

    .contact-content-mobile{
        display: block;
    }

    .contact-content .contact-info{
    font-size: 19px;
    line-height: 1.4;
    }

    .contact-form{
        margin-bottom: 50px;
        margin-top: 12px;
    }

    .mobile-col-full{
        width: 100%;
    }
    #footer .socail a{
        padding: 6px;
    }
}